# Python
__pycache__/
*.py[cod]
*.so
.env
.venv
venv/
ENV/
*.egg-info/
dist/
build/

# .NET / Visual Studio
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.rsuser
[Ll]og/
[Ll]ogs/
*.tmp
*.tmp_proj
*.log
BenchmarkDotNet.Artifacts/
project.lock.json
artifacts/
MigrationBackup/
*.nupkg
*.snupkg
healthchecksdb
FodyWeavers.xsd
.localhistory/
.vshistory/